* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #020617;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.4s ease;
}

.nav-link a:hover {
    color: #38bdf8;
    font-size: 20px;
    /* transition: 0.3s ease; */
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #38bdf8;
}


.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 1px;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content span {
    color: #38bdf8;
}

.hero-content h2 {
    margin: 15px 0;
    font-weight: normal;
}

.hero-content p {
    max-width: 500px;
    margin-bottom: 25px;
    color: #cbd5f5;
}

.hero-buttons .btn {
    padding: 12px 25px;
    margin-right: 15px;
    text-decoration: none;
    background-color: #38bdf8;
    color: black;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}



.hero-buttons .outline {
    background: transparent;
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.hero-image img {
    width: 280px;
    height: 290px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 4px solid #38bdf8; */
}

.about {
    padding: 80px 50px;
    background-color: #0f172a;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #38bdf8;
}

.about p{
    max-width: 800px;
    margin: 0 auto 15px;
    line-height: 1.6;
    font-size: 16px;
}

.about #p2 {
    padding-bottom: 80px;
}

.skills {
    padding: 80px 50px;
    background-color: #0f172a;
    text-align: center;
    padding-bottom: 200px;
}

.skills h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #38bdf8;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.skill-card {
    background-color:#020617;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.skill-card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
    font-size: 20px;
}

.skill-card p {
    color: #cbd5f5;
    font-size: 15px;
    line-height: 1.6;
}


/* .skill-card :hover {
    transform: translateY(-5px);
} */



.projects {
    padding: 80px 50px;
    background-color: #0f172a;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #38bdf8;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    background-color: #020617;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.1);
    /* cursor: pointer; */
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.project-card p {
    color: #cbd5f5;
    font-size: 15px;
    line-height: 1.6;
}

.project-card .tech {
    margin: 15px 0;
    font-size: 14px;
    color: #94a3b8;
}

.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    pointer-events: auto;
}


.contact {
    padding: 80px 50px;
    background-color: #0f172a;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #38bdf8;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact .btn{
    width: 150px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px;
    color: white;
    background-color: #293061;
    border: none;
    transition: transform 0.4s ease-in-out;
}

.contact .btn:hover {
    background-color:#38bdf8;
    color: black;
    transition: 0.3s ease;
    transform: scale(1.1);
}


.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.contact-form button {
    cursor: pointer;
}

#success-msg {
    margin-top: 15px;
    color: #22c55e;
    font-size: 14px;
    display: none;
}

.footer {
    background-color: #020617;
    padding: 30px 20px;
    text-align: center;
    color: #cbd5f5;
}

.footer span{
    color: #38bdf8;
    font-weight: bold;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a{
    margin: 0  12px;
    text-decoration: none;
    color: #38bdf8;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.footer-links a i {
    font-size: 18px;
}

.footer-links a:hover {
    color: #ffffff;
}

.footer .copyright {
    font-size: 13px;
    color: #94a3b8;
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
    }

    .nav-link {
        flex-direction: column;
        gap: 10px;
        display: none;
        width: 100%;
        margin-top: 15px;
    }

    .nav-link.active {
        display: flex;
    }


    

    .hero {
        height: auto;
        padding: 60px 20px;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
    }

    .hero-buttons a {
        width: 100%;
        text-align: center;
    }

    .about {
        padding: 60px 20px;
    }

    .skills{
        padding: 60px 20px;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .projects {
        padding: 60px 20px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .contact {
        padding: 60px 20px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 15px;
    }

    .footer {
        padding: 25px 15px;
    }
}
